.nav{

    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
    background-color: rgb(51, 41, 61);
    min-height: 8vh;
   
  }
  nav a{
    color: azure;
    font-size: 1.5rem;
    margin-top: 2px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
  }
 nav a:hover{
   color: blueviolet;
 }